 .u-section-1 {
  min-height: 891px;
}

.u-section-1 .u-image-1 {
  height: 464px;
  margin: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -384px auto 60px;
}

.u-section-1 .u-image-2 {
  min-height: 737px;
  background-image: url("images/db1a02daaac81c327c30fb0d77121e795561c059f59cd0b706bbaf6ca242d327133b52e6ea8d2e733deea55114860db855e0e1d513956d8baa8ce2_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 235px;
  height: 235px;
  background-image: url("images/EveFix1.png");
  background-position: 50% 50%;
  margin: 149px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 6px;
  line-height: 1;
  margin: 16px 30px 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 41px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 773px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-2 {
    min-height: 608px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    min-height: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    min-height: 699px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    min-height: 440px;
  }
}