 .u-section-1 {
  min-height: 1234px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 326px;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + 265px);
}

.u-section-1 .u-image-1 {
  width: 379px;
  height: 139px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: dancing-script;
  font-weight: bold;
  margin: -15px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  width: 169px;
  font-family: dancing-script;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 433px;
  height: 322px;
  margin: -336px auto 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 430px;
  width: 362px;
  margin: 14px auto 0 calc(((100% - 1140px) / 2) + -77px);
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-gallery-2 {
  height: 430px;
  width: 362px;
  margin: -430px calc(((100% - 1140px) / 2) + -77px) 0 auto;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-gallery-3 {
  height: 430px;
  width: 530px;
  margin: -430px auto 0 calc(((100% - 1140px) / 2) + 305px);
}

.u-section-1 .u-carousel-indicators-3 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-5 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
  padding: 10px;
}

.u-section-1 .u-gallery-4 {
  height: 391px;
  width: 591px;
  margin: 44px auto 33px calc(((100% - 1140px) / 2) + 275px);
}

.u-section-1 .u-carousel-indicators-4 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-23 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-7 {
  position: absolute;
  left: -40px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-8 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -40px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 265px);
  }

  .u-section-1 .u-image-1 {
    width: 313px;
    height: 115px;
    margin-top: 89px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: -35px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    width: 139px;
    position: relative;
    margin-top: 65px;
  }

  .u-section-1 .u-gallery-1 {
    margin-left: calc(((100% - 940px) / 2) + -77px);
  }

  .u-section-1 .u-gallery-2 {
    margin-right: calc(((100% - 940px) / 2) + -77px);
  }

  .u-section-1 .u-gallery-3 {
    margin-left: calc(((100% - 940px) / 2) + 305px);
  }

  .u-section-1 .u-gallery-4 {
    margin-left: calc(((100% - 940px) / 2) + 275px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 239px;
    height: 88px;
    margin-top: 116px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    width: 107px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 86px);
  }

  .u-section-1 .u-gallery-1 {
    margin-left: calc(((100% - 1140px) / 2) + 133px);
  }

  .u-section-1 .u-gallery-2 {
    margin-right: calc(((100% - 1140px) / 2) + 133px);
  }

  .u-section-1 .u-gallery-3 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 305px);
  }

  .u-section-1 .u-gallery-4 {
    margin-left: calc(((100% - 1140px) / 2) + 275px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    width: 224px;
    height: 82px;
    margin-top: 182px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -74px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    width: 100px;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 176px);
  }

  .u-section-1 .u-gallery-1 {
    margin-left: calc(((100% - 1140px) / 2) + 223px);
  }

  .u-section-1 .u-gallery-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 223px);
  }

  .u-section-1 .u-gallery-4 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1165px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    width: 188px;
    height: 69px;
    margin-top: 253px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -153px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    width: 84px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 276px);
  }

  .u-section-1 .u-gallery-1 {
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-gallery-2 {
    margin-right: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-gallery-3 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-gallery-4 {
    width: 340px;
    margin-top: 10px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-2 {
  min-height: 568px;
}

.u-section-2 .u-image-1 {
  width: 363px;
  height: 455px;
  margin: 77px calc(((100% - 1140px) / 2) + -161px) 0 auto;
}

.u-section-2 .u-group-1 {
  width: 813px;
  min-height: 497px;
  margin: -487px auto 0 calc(((100% - 1140px) / 2) + 164px);
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-2 .u-text-1 {
  font-family: Courgette;
  font-size: 2.25rem;
  margin: 64px 0 0 150px;
}

.u-section-2 .u-line-1 {
  width: 349px;
  transform-origin: left center 0px;
  margin: 74px 157px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 434px;
  height: 328px;
  margin: -412px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + -161px);
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 127px);
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-line-1 {
    height: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + -161px);
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-left: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + -161px);
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 497px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + -161px);
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 257px;
  }
}.u-block-6ceb-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-6ceb-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -122px);
  width: 40px;
  padding-top: 40px;
  height: 65px;
  right: auto;
}

.u-block-6ceb-4 {
  position: absolute;
  width: 40px;
  left: auto;
  padding-top: 40px;
  height: 65px;
  right: calc(((100% - 1140px) / 2)  + -127px);
}

@media (max-width: 1199px) {
  .u-block-6ceb-3 {
    left: calc(((100% - 940px) / 2)  + -101px);
  }

  .u-block-6ceb-4 {
    right: calc(((100% - 940px) / 2)  + -105px);
  }
}

@media (max-width: 991px) {
  .u-block-6ceb-3 {
    left: calc(((100% - 720px) / 2)  + -77px);
  }

  .u-block-6ceb-4 {
    right: calc(((100% - 720px) / 2)  + -80px);
  }
}

@media (max-width: 767px) {
  .u-block-6ceb-3 {
    left: calc(((100% - 540px) / 2)  + -58px);
  }

  .u-block-6ceb-4 {
    right: calc(((100% - 540px) / 2)  + -60px);
  }
}

@media (max-width: 575px) {
  .u-block-6ceb-3 {
    left: calc(((100% - 340px) / 2)  + -37px);
  }

  .u-block-6ceb-4 {
    right: calc(((100% - 340px) / 2)  + -38px);
  }
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/WhatsAppImage2022-07-03at2.39.53AM.jpeg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 491px;
}

.u-section-3-1 .u-group-1 {
  width: 679px;
  min-height: 305px;
  margin: -7px 0 60px auto;
}

.u-section-3-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3-1 .u-text-1 {
  font-size: 1.5rem;
  font-family: dancing-script;
  margin: 258px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3-1 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-3-1 .u-group-1 {
    width: 540px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-3-1 .u-group-1 {
    width: 340px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/nyo2_auto_x2.jpg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 482px;
}

.u-section-3-2 .u-text-1 {
  font-size: 1.5rem;
  font-family: dancing-script;
  width: 180px;
  margin: 227px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 304px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 228px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 144px;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/4da8f0a9d05dce19ae57a8358a87d2f6.jpeg");
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 481px;
}

.u-section-3-3 .u-text-1 {
  font-size: 1.5rem;
  font-family: dancing-script;
  width: 213px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-3-3 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 304px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 228px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 144px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1366px;
}

.u-section-4 .u-group-1 {
  width: 738px;
  min-height: 642px;
  margin: 40px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 58px 20px 0;
}

.u-section-4 .u-text-2 {
  font-family: "Dancing Script";
  font-size: 1.5rem;
  margin: 20px 185px 0 auto;
}

.u-section-4 .u-text-3 {
  font-family: "Dancing Script";
  font-size: 1.5rem;
  margin: -56px 576px 0 -71px;
}

.u-section-4 .u-text-4 {
  font-style: normal;
  font-size: 1.5rem;
  font-family: "Dancing Script";
  margin: 26px 0 0 40px;
}

.u-section-4 .u-text-5 {
  font-family: "Dancing Script";
  font-size: 1.5rem;
  margin: 40px 227px 0 269px;
}

.u-section-4 .u-line-1 {
  width: 200px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 36px auto 0;
}

.u-section-4 .u-text-6 {
  font-family: "Dancing Script";
  font-size: 1.5rem;
  margin: -496px 0 0 auto;
}

.u-section-4 .u-text-7 {
  font-family: "Dancing Script";
  font-size: 1.5rem;
  margin: 121px 465px 0 40px;
}

.u-section-4 .u-text-8 {
  font-family: "Dancing Script";
  font-size: 1.5rem;
  margin: -114px -356px 0 861px;
}

.u-section-4 .u-image-1 {
  width: 665px;
  height: 527px;
  margin: 286px -150px 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1132px;
  margin: -448px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-2 {
  height: 360px;
  object-position: 50% 17.23%;
  background-position: 50% 50%;
  width: 360px;
  background-image: url("images/WhatsAppImage2022-07-05at4.11.34PM.jpeg");
  margin: -79px 0 0 auto;
}

.u-section-4 .u-text-9 {
  font-family: Courgette;
  font-size: 2.25rem;
  margin: 30px 20px 36px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 410px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-3 {
  height: 360px;
  width: 360px;
  background-image: url("images/WhatsAppImage2022-07-03at2.47.20AM_auto_x2.jpg");
  background-position: 50% 50%;
  margin: -79px auto 0;
}

.u-section-4 .u-text-10 {
  font-size: 2.25rem;
  font-family: Courgette;
  margin: 30px 20px 36px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 410px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-4 {
  height: 360px;
  width: 360px;
  background-image: url("images/WhatsAppImage2022-07-03at2.55.01AM_auto_x2.jpg");
  background-position: 50% 50%;
  margin: -79px auto 0;
}

.u-section-4 .u-text-11 {
  font-size: 2.25rem;
  font-family: Courgette;
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-4 .u-text-4 {
    font-style: italic;
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-5 {
    width: 242px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 305px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 761px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-2 {
    width: 297px;
    height: 297px;
    margin-top: -16px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-3 {
    width: 297px;
    height: 297px;
    margin-top: -16px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-4 {
    width: 297px;
    height: 297px;
    margin-top: -16px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 567px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 22px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 260px;
    margin-right: 218px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 85px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 651px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-2 {
    width: 227px;
    height: 227px;
    margin-top: 54px;
  }

  .u-section-4 .u-text-9 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-3 {
    width: 227px;
    height: 227px;
    margin-top: 54px;
  }

  .u-section-4 .u-text-10 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-4 {
    width: 227px;
    height: 227px;
    margin-top: 54px;
  }

  .u-section-4 .u-text-11 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 139px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 477px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 170px;
    margin-right: 128px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 561px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-image-2 {
    width: 213px;
    height: 213px;
    margin-top: 68px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-4 .u-image-3 {
    width: 213px;
    height: 213px;
    margin-top: 68px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-4 .u-image-4 {
    width: 213px;
    height: 213px;
    margin-top: 68px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 88px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 377px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 70px;
    margin-right: 28px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 461px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 269px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -190px;
  }

  .u-section-4 .u-image-2 {
    width: 179px;
    height: 179px;
    margin-top: 102px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-3 {
    width: 179px;
    height: 179px;
    margin-top: 102px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-4 {
    width: 179px;
    height: 179px;
    margin-top: 102px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-5 {
  min-height: 925px;
}

.u-section-5 .u-image-1 {
  width: 365px;
  height: 322px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1250px;
  margin: -228px auto 0 calc(((100% - 1140px) / 2) + -75px);
}

.u-section-5 .u-image-2 {
  background-image: url("images/WhatsAppImage2022-06-27at1.17.07AM.jpeg");
  min-height: 362px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("images/289859458_1701594200189743_1198332266231273201_n_auto_x2.jpg");
  min-height: 435px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  background-image: url("images/WhatsAppImage2022-06-26at11.53.10PM1.jpeg");
  min-height: 297px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 279px;
}

.u-section-5 .u-gallery-1 {
  height: 259px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 117px;
  right: auto;
  padding: 10px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
  padding: 10px;
}

.u-section-5 .u-image-5 {
  background-image: url("images/WhatsAppImage2022-06-26at11.56.18PM.jpeg");
  min-height: 235px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-6 {
  background-image: url("images/WhatsAppImage2022-07-05at4.08.04PM.jpeg");
  min-height: 406px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-7 {
  background-image: url("images/WhatsAppImage2022-06-26at11.56.17PM.jpeg");
  min-height: 378px;
  background-position: 50% 50%;
}

.u-section-5 .u-shape-1 {
  width: 92px;
  height: 43px;
  margin: -831px auto 0 calc(((100% - 1140px) / 2) + 348px);
}

.u-section-5 .u-shape-2 {
  width: 91px;
  height: 35px;
  margin: -97px auto 0 calc(((100% - 1140px) / 2) + 349px);
}

.u-section-5 .u-shape-3 {
  width: 91px;
  height: 35px;
  margin: -35px calc(((100% - 1140px) / 2) + 388px) 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 449px);
}

.u-section-5 .u-shape-4 {
  width: 92px;
  height: 40px;
  margin: -9px calc(((100% - 1140px) / 2) + 388px) 0 auto;
}

.u-section-5 .u-image-8 {
  width: 363px;
  height: 351px;
  margin: 463px calc(((100% - 1140px) / 2) + -407px) 17px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 737px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-image-2 {
    min-height: 272px;
  }

  .u-section-5 .u-image-3 {
    min-height: 327px;
  }

  .u-section-5 .u-image-4 {
    min-height: 223px;
  }

  .u-section-5 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 210px;
  }

  .u-section-5 .u-image-5 {
    min-height: 177px;
  }

  .u-section-5 .u-image-6 {
    min-height: 305px;
  }

  .u-section-5 .u-image-7 {
    min-height: 284px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + 348px);
  }

  .u-section-5 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2) + 349px);
  }

  .u-section-5 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2) + 388px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 370px);
  }

  .u-section-5 .u-shape-4 {
    margin-right: calc(((100% - 940px) / 2) + 388px);
  }

  .u-section-5 .u-image-8 {
    margin-right: calc(((100% - 940px) / 2) + -407px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 2130px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-image-2 {
    min-height: 313px;
  }

  .u-section-5 .u-image-3 {
    min-height: 376px;
  }

  .u-section-5 .u-image-4 {
    min-height: 256px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 241px;
  }

  .u-section-5 .u-image-5 {
    min-height: 203px;
  }

  .u-section-5 .u-image-6 {
    min-height: 701px;
  }

  .u-section-5 .u-image-7 {
    min-height: 653px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + 348px);
  }

  .u-section-5 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2) + 349px);
  }

  .u-section-5 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2) + 388px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 283px);
  }

  .u-section-5 .u-shape-4 {
    margin-right: calc(((100% - 720px) / 2) + 388px);
  }

  .u-section-5 .u-image-8 {
    margin-right: calc(((100% - 720px) / 2) + -407px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 2131px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-image-2 {
    min-height: 470px;
  }

  .u-section-5 .u-image-3 {
    min-height: 564px;
  }

  .u-section-5 .u-image-4 {
    min-height: 384px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 362px;
  }

  .u-section-5 .u-image-5 {
    min-height: 305px;
  }

  .u-section-5 .u-image-6 {
    min-height: 526px;
  }

  .u-section-5 .u-image-7 {
    min-height: 490px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + 348px);
  }

  .u-section-5 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2) + 349px);
  }

  .u-section-5 .u-shape-3 {
    margin-right: calc(((100% - 540px) / 2) + 388px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 212px);
  }

  .u-section-5 .u-shape-4 {
    margin-right: calc(((100% - 540px) / 2) + 388px);
  }

  .u-section-5 .u-image-8 {
    margin-right: calc(((100% - 540px) / 2) + -407px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1382px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 300px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-2 {
    min-height: 296px;
  }

  .u-section-5 .u-image-3 {
    min-height: 355px;
  }

  .u-section-5 .u-image-4 {
    min-height: 242px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 228px;
  }

  .u-section-5 .u-image-5 {
    min-height: 192px;
  }

  .u-section-5 .u-image-6 {
    min-height: 331px;
  }

  .u-section-5 .u-image-7 {
    min-height: 309px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + 248px);
  }

  .u-section-5 .u-shape-2 {
    margin-left: calc(((100% - 340px) / 2) + 249px);
  }

  .u-section-5 .u-shape-3 {
    margin-right: calc(((100% - 340px) / 2) + 249px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 133px);
  }

  .u-section-5 .u-shape-4 {
    margin-right: calc(((100% - 340px) / 2) + 248px);
  }

  .u-section-5 .u-image-8 {
    margin-right: calc(((100% - 340px) / 2) + -407px);
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 752px;
}

.u-section-6 .u-image-1 {
  width: 518px;
  height: 344px;
  margin: 388px auto 0;
}

.u-section-6 .u-group-1 {
  width: 638px;
  min-height: 343px;
  margin: -743px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-6 .u-text-1 {
  margin: 56px 20px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-family: Lobster, display;
  margin: 20px 20px 0;
}

.u-section-6 .u-line-1 {
  width: 200px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-6 .u-image-2 {
  width: 278px;
  height: 278px;
  object-position: 50% 22.92%;
  background-position: 50% 50%;
  background-image: url("images/WhatsAppImage2022-06-27at12.10.52AM.jpeg");
  transition-duration: 0.5s;
  margin: -57px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 226px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: -625px;
  }
}

.u-section-6 .u-image-2,
.u-section-6 .u-image-2:before,
.u-section-6 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-2.u-image-2.u-image-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-6 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-6 .u-image-2.u-image-2.u-image-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-6 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/cfbd6b1f333b6ab3b9be250b7f8d69f38b229ff83c6e8c977246f08918ab05073e281cbd229782f1e9c81be9fcb348bc371e094d80029247072bcf_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 589px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 42px 308px 0 182px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  width: 969px;
  margin: 60px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 198px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 27px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  margin: 27px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  margin: 27px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1104px;
  margin: -26px auto 20px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 238px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  margin: 73px 0 0;
}

.u-section-7 .u-text-9 {
  font-size: 1.5rem;
  font-family: dancing-script;
  margin: 10px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 238px;
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding-right: 30px;
}

.u-section-7 .u-text-10 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-7 .u-text-11 {
  font-size: 1.5rem;
  width: 207px;
  font-family: dancing-script;
  margin: 10px auto 25px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 238px;
  background-image: none;
}

.u-section-7 .u-container-layout-6 {
  padding-right: 30px;
}

.u-section-7 .u-text-12 {
  font-weight: 700;
  margin: 76px -16px 0 -6px;
}

.u-section-7 .u-text-13 {
  font-size: 1.5rem;
  font-family: dancing-script;
  margin: 10px 10px 0 20px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 238px;
  background-image: none;
}

.u-section-7 .u-container-layout-7 {
  padding-right: 30px;
}

.u-section-7 .u-text-14 {
  font-weight: 700;
  margin: 76px -30px 0 -10px;
}

.u-section-7 .u-text-15 {
  font-size: 1.5rem;
  font-family: dancing-script;
  margin: 10px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 208px;
    margin-left: 82px;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 192px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-text-9 {
    width: 171px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 25px;
  }

  .u-section-7 .u-text-11 {
    width: 171px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 25px;
  }

  .u-section-7 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-13 {
    width: 171px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 232px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-right: 25px;
  }

  .u-section-7 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-15 {
    width: 171px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 70px;
    margin-left: 0;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 441px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-7 .u-text-8 {
    position: relative;
  }

  .u-section-7 .u-text-9 {
    width: 131px;
    position: relative;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 19px;
  }

  .u-section-7 .u-text-10 {
    position: relative;
  }

  .u-section-7 .u-text-11 {
    width: 131px;
    position: relative;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 19px;
  }

  .u-section-7 .u-text-12 {
    position: relative;
  }

  .u-section-7 .u-text-13 {
    width: 131px;
    position: relative;
  }

  .u-section-7 .u-container-layout-7 {
    padding-right: 19px;
  }

  .u-section-7 .u-text-14 {
    position: relative;
  }

  .u-section-7 .u-text-15 {
    width: 131px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-7 .u-text-9 {
    width: 123px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 14px;
  }

  .u-section-7 .u-text-11 {
    width: 123px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 14px;
  }

  .u-section-7 .u-text-13 {
    width: 123px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-7 {
    padding-right: 14px;
  }

  .u-section-7 .u-text-15 {
    width: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-9 {
    width: 103px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 9px;
  }

  .u-section-7 .u-text-11 {
    width: 103px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 9px;
  }

  .u-section-7 .u-text-13 {
    width: 103px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 9px;
  }

  .u-section-7 .u-text-15 {
    width: 103px;
  }
} .u-section-8 {
  min-height: 1085px;
  background-image: url("images/6126e12960153cd18499de5e72f4297ae0e382299ed78aa787f770a7fcbbc7937e00e89fd95d42506a0359fb9112b99c2c5ef4bb1204d331ee20b1_1280.png");
  background-position: 50% 50%;
}

.u-section-8 .u-shape-1 {
  width: 46px;
  height: 30px;
  margin: 3px auto 0 calc(((100% - 940px) / 2) + 421px);
}

.u-section-8 .u-text-1 {
  margin: -15px auto 0 calc(((100% - 940px) / 2) + 435px);
}

.u-section-8 .u-shape-2 {
  width: 45px;
  height: 30px;
  margin: -10px calc(((100% - 1140px) / 2) + 512px) 0 auto;
}

.u-section-8 .u-layout-wrap-1 {
  width: 937px;
  margin: 0 auto 56px calc(((100% - 940px) / 2) + 3px);
}

.u-section-8 .u-image-1 {
  background-image: url("images/WhatsAppImage2022-06-26at11.17.11PM.jpeg");
  min-height: 456px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-image-2 {
  background-image: url("images/WhatsAppImage2022-06-26at11.18.43PM.jpeg");
  min-height: 510px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-image-3 {
  background-image: url("images/WhatsAppImage2022-07-04at11.36.01PM.jpeg");
  min-height: 334px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 367px;
}

.u-section-8 .u-container-layout-4 {
  padding: 0;
}

.u-section-8 .u-line-1 {
  width: 250px;
  margin: 29px auto 0;
}

.u-section-8 .u-image-4 {
  width: 277px;
  height: 277px;
  background-image: url("images/ee.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-8 .u-line-2 {
  width: 250px;
  margin: 15px auto 0;
}

.u-section-8 .u-image-5 {
  background-image: url("images/WhatsAppImage2022-07-05at12.25.15AM.jpeg");
  min-height: 265px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-image-6 {
  background-image: url("images/WhatsAppImage2022-06-26at11.17.11PM1.jpeg");
  min-height: 501px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-image-7 {
  background-image: url("images/WhatsAppImage2022-06-26at11.17.10PM1.jpeg");
  min-height: 465px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 359px);
  }

  .u-section-8 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + 512px);
  }

  .u-section-8 .u-image-4 {
    height: auto;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 3460px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + 421px);
  }

  .u-section-8 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 275px);
  }

  .u-section-8 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + 512px);
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-image-1 {
    min-height: 526px;
  }

  .u-section-8 .u-image-2 {
    min-height: 588px;
  }

  .u-section-8 .u-image-3 {
    min-height: 385px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 423px;
  }

  .u-section-8 .u-image-4 {
    height: NaNpx;
    width: NaNpx;
  }

  .u-section-8 .u-image-5 {
    min-height: 305px;
  }

  .u-section-8 .u-image-6 {
    min-height: 1155px;
  }

  .u-section-8 .u-image-7 {
    min-height: 1072px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 3461px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + 421px);
  }

  .u-section-8 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 206px);
  }

  .u-section-8 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + 495px);
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-image-1 {
    min-height: 789px;
  }

  .u-section-8 .u-image-2 {
    min-height: 882px;
  }

  .u-section-8 .u-image-3 {
    min-height: 578px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 635px;
  }

  .u-section-8 .u-image-5 {
    min-height: 458px;
  }

  .u-section-8 .u-image-6 {
    min-height: 866px;
  }

  .u-section-8 .u-image-7 {
    min-height: 804px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 2223px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + 294px);
  }

  .u-section-8 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 130px);
  }

  .u-section-8 .u-shape-2 {
    margin-right: calc(((100% - 340px) / 2) + 295px);
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-image-1 {
    min-height: 497px;
  }

  .u-section-8 .u-image-2 {
    min-height: 555px;
  }

  .u-section-8 .u-image-3 {
    min-height: 364px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 400px;
  }

  .u-section-8 .u-image-5 {
    min-height: 288px;
  }

  .u-section-8 .u-image-6 {
    min-height: 545px;
  }

  .u-section-8 .u-image-7 {
    min-height: 506px;
  }
}