 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.4), rgba(41,46,51,0.4)), url("images/fdfdfdf.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-image-1 {
  height: 225px;
  width: 390px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  text-transform: none;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 839px;
  font-weight: 300;
  font-family: Merriweather, serif;
  margin: 47px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    height: 70px;
    width: 259px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 99px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
    margin-left: 19px;
    margin-right: 19px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 271px;
}

.u-section-2 .u-list-1 {
  width: 1142px;
  margin: -62px -1px 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 263px;
  grid-gap: 22px 22px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 47px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 47px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 47px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 846px;
}

.u-section-3 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/gf2caab33c569056693df599f167e1a1a363cae168aca35f6bfc41614f886e6c44d0d7634c2171f517c617ddaabe0119c_1280.jpg");
  background-position: 50% 50%;
  margin: 60px 96px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/8be4fc076e68208b994c799836f688dcb347cad4f853d7fb7f13d7d294cc0bd89cc2ec3613411f8a3f10e4f4f3b795c86488407a280493d91830f3_1280.png");
  background-position: 50% 50%;
  margin: -596px auto 0 71px;
}

.u-section-3 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/c613c062ed866f3513c41f3b0188f89bb49f847243529ae2e180dd5aa0092fc50fcc0818349fa105dd1a9c5db3394b220bbdd504659dd0282d8524_1280.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 156px;
}

.u-section-3 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -419px auto 0 20px;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 50px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-3 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-right: 60px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-left: 171px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 52px;
  }

  .u-section-3 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 20px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-3 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -508px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-left: -19px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 167px;
    height: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-3 .u-image-1 {
    width: 293px;
    height: 293px;
  }

  .u-section-3 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -308px;
  }

  .u-section-3 .u-image-3 {
    width: 240px;
    height: 240px;
    margin-left: -14px;
  }

  .u-section-3 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -370px;
  }

  .u-section-3 .u-shape-2 {
    width: 101px;
    height: 101px;
  }
}